option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: dev
    APP_SECRET: 7bf04844d1028b4a819364af712ce1b1
    DATABASE_URL: mysql://root:password@aa1997n25fqo4fl.cfim6xn1zdpb.eu-central-1.rds.amazonaws.com:3306/ebdb
    MAILER_URL: null://localhost
    EMAIL_FROM: info@example.com
    APP_DEBUG: true

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
